---
import { t, changeLanguage } from "i18next";
import Layout from "../../layout/Layout.astro";
import About from "../../components/About.astro";
import Project from "../../components/Project.astro";
import Experience from "../../components/Experience.astro";
import Skills from "../../components/Skills.astro";
import Title from "../../components/Title.astro";

changeLanguage("sv");
---

<Layout>
  <About />
  <section class="w-full">
    <Title>{t('projects.title')}</Title>
    <div>
      <Project
        name="CryptoChimp"
        description={t('projects.cryptochimp.description')}
        image="/images/cryptochimp.png"
        githubLink="https://github.com/MaximilianHagelstam/cryptochimp"
        demoLink="#"
      />
    </div>
  </section>
  <section class="w-full">
    <Title>{t('work.title')}</Title>
    <Experience
      title={t('work.smartum.title')}
      description={t('work.smartum.description')}
      period={t('work.smartum.period')}
    />
    <Experience
      title={t('work.freelance.title')}
      description={t('work.freelance.description')}
      period={t('work.freelance.period')}
    />
  </section>
  <section class="w-full">
    <Title>{t('skills.title')}</Title>
    <Skills />
  </section>
</Layout>
