---
import Layout from '../layout/Layout.astro';
import About from '../components/About.astro';
import Project from '../components/Project.astro';
import Experience from '../components/Experience.astro';
---

<Layout>
  <About />
  <div>
    <h3 class="mb-8 text-2xl font-bold tracking-tight md:text-4xl">Projects</h3>
    <div>
      <Project
        name="CryptoChimp"
        description="Simple cryptocurrency trading game. Lets you trade crypto on real market data with a starting budget of 10 000 €"
        image="/images/cryptochimp.png"
        githubLink="https://github.com/MaximilianHagelstam/cryptochimp"
        demoLink="#"
      />
    </div>
  </div>
  <div>
    <h3 class="mb-8 text-2xl font-bold tracking-tight md:text-4xl">
      Work Experience
    </h3>
    <Experience
      index="01"
      title="Smartum - Developer Trainee"
      duration="June 2022"
    />
    <Experience
      index="01"
      title="Smartum - Developer Trainee"
      duration="June 2022"
    />
    <Experience
      index="01"
      title="Smartum - Developer Trainee"
      duration="June 2022"
    />
  </div>
</Layout>
