---
import Layout from '../layout/Layout.astro';
import About from '../components/About.astro';
import Project from '../components/Project.astro';
import Experience from '../components/Experience.astro';
---

<Layout>
  <About />
  <h3 class="mb-6 text-2xl font-bold tracking-tight md:text-4xl">Projects</h3>
  <div class="flex flex-col gap-6 md:flex-row">
    <Project
      title="Everything I Know About Style Guides, Design Systems, and Component Libraries"
    />
    <Project
      title="Everything I Know About Style Guides, Design Systems, and Component Libraries"
    />
    <Project
      title="Everything I Know About Style Guides, Design Systems, and Component Libraries"
    />
  </div>

  <h3 class="mb-4 mt-16 text-2xl font-bold tracking-tight md:text-4xl">
    Work Experience
  </h3>
  <p class="mb-4 text-gray-400">
    Build and deploy a modern SaaS application using the most popular
    open-source software. This course is 12 hours long and is completely live
    streamed.
  </p>
  <Experience
    index="01"
    title="Smartum - Developer Trainee"
    duration="June 2022"
  />
  <Experience
    index="01"
    title="Smartum - Developer Trainee"
    duration="June 2022"
  />
  <Experience
    index="01"
    title="Smartum - Developer Trainee"
    duration="June 2022"
  />
</Layout>
