---
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Project from '../components/Project.astro';
import Title from '../components/Title.astro';
import Layout from '../layout/Layout.astro';
---

<Layout>
  <About />
  <section class="w-full">
    <Title>Projects</Title>
    <div class="flex flex-col space-y-12">
      <Project
        name="CryptoChimp"
        description="Mock cryptocurrency trading platform. Start with 10 000 € and learn as you buy, sell, and manage digital assets."
        image="https://raw.githubusercontent.com/hagelstam/cryptochimp/refs/heads/main/src/app/opengraph-image.png"
        githubLink="https://github.com/hagelstam/cryptochimp"
        demoLink="https://cryptochimp.vercel.app"
        gradient="from-[#fff7ec] to-[#a085c8]"
      >
        <div class="mb-3">
          <span
            class="mr-2 inline-flex rounded-full bg-fuchsia-500/25 px-2 text-xs leading-5 text-fuchsia-800 dark:text-fuchsia-50"
          >
            Next.js
          </span>
          <span
            class="mr-2 inline-flex rounded-full bg-cyan-500/25 px-2 text-xs leading-5 text-cyan-800 dark:text-cyan-50"
          >
            Tailwind CSS
          </span>
          <span
            class="mr-2 inline-flex rounded-full bg-blue-500/25 px-2 text-xs leading-5 text-purple-800 dark:text-blue-50"
          >
            CockroachDB
          </span>
        </div>
      </Project>
      <Project
        name="S-Bank Reports"
        description="Simple tool for generating financial reports from your S-Bank transaction data."
        image="https://raw.githubusercontent.com/hagelstam/s-bank-reports/refs/heads/main/src/app/opengraph-image.png"
        githubLink="https://github.com/hagelstam/s-bank-reports"
        demoLink="https://s-bank-reports.vercel.app"
        gradient="from-[#2f49c5] to-[#b5d5a4]"
      >
        <div class="mb-3">
          <span
            class="mr-2 inline-flex rounded-full bg-fuchsia-500/25 px-2 text-xs leading-5 text-fuchsia-800 dark:text-fuchsia-50"
          >
            Next.js
          </span>
          <span
            class="mr-2 inline-flex rounded-full bg-cyan-500/25 px-2 text-xs leading-5 text-cyan-800 dark:text-cyan-50"
          >
            Tailwind CSS
          </span>
        </div>
      </Project>
      <Project
        name="Baynet"
        description="Social media platform for artists to create and share digital art with the community."
        image="https://raw.githubusercontent.com/WilliamTuominiemi/NFT-Art-Platform/main/screenshot.png"
        githubLink="https://github.com/WilliamTuominiemi/NFT-Art-Platform"
        demoLink="https://baynet.vercel.app"
        gradient="from-[#E3F3FF] to-[#E7F5E6]"
      >
        <div class="mb-3">
          <span
            class="bg-opacity-25 mr-2 inline-flex rounded-full bg-fuchsia-500/25 px-2 text-xs leading-5 text-fuchsia-800 dark:text-fuchsia-50"
          >
            Next.js
          </span>
          <span
            class="bg-opacity-25 mr-2 inline-flex rounded-full bg-sky-500/25 px-2 text-xs leading-5 text-sky-800 dark:text-sky-50"
          >
            tRPC
          </span>
          <span
            class="bg-opacity-25 mr-2 inline-flex rounded-full bg-indigo-500/25 px-2 text-xs leading-5 text-indigo-800 dark:text-indigo-50"
          >
            PostgreSQL
          </span>
        </div>
      </Project>
    </div>
  </section>
  <section class="w-full">
    <Title>Work Experience</Title>
    <div class="flex w-full flex-col space-y-4">
      <Experience
        title="Smartum Oy - Junior Software Developer"
        period="January 2024 - April 2024"
      />
      <Experience
        title="Smartum Oy - Developer Trainee"
        period="March 2023 - July 2023"
        border="border-t"
      />
      <Experience
        title="Smartum Oy - Developer Trainee"
        period="June 2022 - August 2022"
        border="border-t"
      />
      <Experience
        title="Freelance Developer"
        period="March 2021 - June 2022"
        border="border-t"
      />
    </div>
  </section>
</Layout>
