---
import Layout from '../layout/Layout.astro';
import About from '../components/About.astro';
import Project from '../components/Project.astro';
import Experience from '../components/Experience.astro';
---

<Layout>
  <About />
  <section class="w-full">
    <h3 class="mb-8 text-2xl font-bold tracking-tight md:text-4xl">Projects</h3>
    <div>
      <Project
        name="CryptoChimp"
        description="Simple cryptocurrency trading game. Lets you trade crypto on real market data with a starting budget of 10 000 €"
        image="/images/cryptochimp.png"
        githubLink="https://github.com/MaximilianHagelstam/cryptochimp"
        demoLink="#"
      />
    </div>
  </section>
  <section class="w-full">
    <h3 class="mb-8 text-2xl font-bold tracking-tight md:text-4xl">
      Work Experience
    </h3>
    <Experience
      duration="June 2022 - August 2022"
      title="Smartum Oy - Developer Trainee"
      description="Worked on the Smartum Plus frontend with React and Typescript."
    />
    <Experience
      duration="March 2021 - June 2022"
      title="Freelance Developer"
      description="Wrote unit and integration tests for various frontend and backend javascript applications."
    />
  </section>
</Layout>
