<div class="flex flex-col-reverse items-start sm:flex-row">
  <div class="flex flex-col pr-8">
    <h1 class="mb-2 text-3xl font-bold tracking-tight md:text-5xl">
      Maximilian Hagelstam
    </h1>
    <h2 class="mb-4 text-gray-200">
      VP of Developer Experience at
      <span class="font-semibold">Vercel</span>
    </h2>
    <p class="mb-16 text-gray-400">
      Helping developers build a faster web. Teaching about web development,
      serverless, and React / Next.js.
    </p>
  </div>
  <div class="relative mb-8 mr-auto w-[80px] sm:mb-0 sm:w-[176px]">
    <img
      alt="Maximilian Hagelstam"
      sizes="30vw"
      src="/avatar.png"
      width="176"
      height="176"
      class="rounded-full grayscale filter"
    />
  </div>
</div>
