---
import { t } from 'i18next';
---

<div class="flex flex-col-reverse items-start sm:flex-row">
  <div class="flex flex-col pr-8">
    <h1 class="mb-2 text-3xl font-bold tracking-tight md:text-5xl">
      Maximilian Hagelstam
    </h1>
    <h2 class="mb-4 text-neutral-200">{t('about.title')}</h2>
    <p class="text-neutral-400">
      {t('about.description')}
    </p>
  </div>
  <div class="relative mr-auto w-[80px] sm:mb-0 sm:w-[176px]">
    <img
      alt="Maximilian Hagelstam"
      sizes="30vw"
      src="/images/avatar.png"
      width="176"
      height="176"
      class="rounded-full grayscale filter"
    />
  </div>
</div>
