---
import clsx from 'clsx';

export interface Props {
  title: string;
  period: string;
  border?: string;
}

const { title, period, border } = Astro.props;
---

<div
  class={clsx(
    'flex w-full justify-between border-neutral-200 py-4 text-center dark:border-neutral-800',
    border,
  )}
>
  <h4 class="next-neutral-900 mb-2 text-lg font-medium dark:text-neutral-100">
    {title}
  </h4>
  <div class="text-neutral-500">
    {period}
  </div>
</div>
