---
export interface Props {
  title: string;
}
---

<a
  class="w-full transform rounded-xl bg-gradient-to-r from-[#6EE7B7] via-[#3B82F6] to-[#9333EA] p-1 transition-all hover:scale-[1.01] md:w-1/3"
  href="#"
>
  <div class="flex h-full flex-col justify-between rounded-lg bg-black p-4">
    <div class="flex flex-col justify-between md:flex-row">
      <h4
        class="mb-6 w-full text-lg font-medium tracking-tight text-gray-100 sm:mb-10 md:text-lg"
      >
        {Astro.props.title}
      </h4>
    </div>
  </div>
</a>
