<footer
  class="mx-auto mb-8 flex w-full max-w-2xl flex-col items-start justify-center"
>
  <hr class="border-1 mb-8 w-full border-gray-800" />
  <div
    class="mb-8 flex w-full flex-row-reverse items-center space-x-0 sm:flex-row sm:space-x-2"
  >
    <div class="inline-flex w-full max-w-full flex-col truncate sm:flex-row">
      <p class="max-w-max truncate text-gray-300">
        © 2023 Maximilian Hagelstam
      </p>
    </div>
  </div>
</footer>
