<footer
  class="mx-auto flex w-full max-w-2xl flex-col items-start justify-center border-t border-t-neutral-800 pb-8"
>
  <div
    class="flex w-full flex-row-reverse items-center space-x-0 pt-8 sm:flex-row sm:space-x-2"
  >
    <div class="inline-flex w-full max-w-full flex-col sm:flex-row">
      <p class="max-w-max text-neutral-400">© 2023 Maximilian Hagelstam</p>
    </div>
  </div>
</footer>
