---
import i18next from 'i18next';
import { HeadHrefLangs } from 'astro-i18next/components';
import Footer from './Footer.astro';
import Navbar from './Navbar.astro';
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Maximilian Hagelstam's portfolio" />
    <title>Maximilian Hagelstam</title>
    <HeadHrefLangs />
  </head>
  <body class="bg-black text-white dark:bg-white dark:text-black">
    <div class="flex flex-col justify-center space-y-16 px-8">
      <Navbar />
      <main
        class="mx-auto flex max-w-2xl flex-col items-start justify-center space-y-16"
      >
        <slot />
      </main>
      <Footer />
    </div>
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== 'undefined' &&
          localStorage.getItem('theme')
        ) {
          return localStorage.getItem('theme');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark';
        }
        return 'light';
      })();

      if (theme === 'light') {
        document.documentElement.classList.remove('dark');
      } else {
        document.documentElement.classList.add('dark');
      }
      window.localStorage.setItem('theme', theme);
    </script>
  </body>
</html>
