---
import i18next from 'i18next';
import { HeadHrefLangs } from 'astro-i18next/components';
import Footer from './Footer.astro';
import Navbar from './Navbar.astro';
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Maximilian Hagelstam's portfolio" />
    <title>Maximilian Hagelstam</title>
    <HeadHrefLangs />
  </head>
  <body class="bg-black text-white">
    <div class="flex flex-col justify-center px-8">
      <Navbar />
      <main>
        <div
          class="mx-auto flex max-w-2xl flex-col items-start justify-center pb-16"
        >
          <slot />
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>
