---
import ThemeToggle from '../components/ThemeToggle.astro';
---

<nav
  class="relative mx-auto flex w-full max-w-2xl items-center justify-between pt-8"
>
  <div class="flex flex-row space-x-4 font-normal">
    <a
      class="text-neutral-600 transition-all hover:text-black dark:text-neutral-400 dark:hover:text-white"
      href="https://github.com/MaximilianHagelstam"
      target="_blank"
    >
      GitHub
    </a>
    <a
      class="text-neutral-600 transition-all hover:text-black dark:text-neutral-400 dark:hover:text-white"
      href="https://www.linkedin.com/in/maximilian-hagelstam-704840186/"
      target="_blank"
    >
      LinkedIn
    </a>
  </div>
  <div class="flex justify-end">
    <ThemeToggle />
  </div>
</nav>
