---
import ThemeToggle from '../components/ThemeToggle';
---

<nav
  class="relative mx-auto flex w-full max-w-2xl items-center justify-between pt-8"
>
  <div class="flex flex-row space-x-4">
    <a
      class="font-normal text-neutral-600 transition-all hover:text-black dark:text-neutral-400 dark:hover:text-white"
      href="https://github.com/MaximilianHagelstam"
      target="_blank"
    >
      GitHub
    </a>
    <a
      class="font-normal text-neutral-600 transition-all hover:text-black dark:text-neutral-400 dark:hover:text-white"
      href="https://www.linkedin.com/in/maximilian-hagelstam-704840186/"
      target="_blank"
    >
      LinkedIn
    </a>
    <a
      class="font-normal text-neutral-600 transition-all hover:text-black dark:text-neutral-400 dark:hover:text-white"
      href="https://www.dropbox.com/s/dqbt7rrqjov0i2n/Maximilian%20CV.pdf"
      target="_blank"
    >
      CV
    </a>
  </div>
  <div class="flex justify-end">
    <ThemeToggle client:visible />
  </div>
</nav>
